

body {
    width: 50%;
   /*background-image:url(../assets/roger-guedes-1.jpg);
   /*background-repeat: none;*/
    background-attachment: fixed;
    background-size: 120px 180px;


    /*background-position: top;
    background-size: 20%;*/
}

#roger{
   width:20%;
}



